
#random-button{
    background-color: rgb(255, 115, 0);
    font-family: 'Quicksand', sans-serif;
}

#artist-button{
    background-color: rgb(51, 122, 152);;
    font-family: 'Quicksand', sans-serif;
}

#song-button{
    background-color:yellowgreen;
    font-family: 'Quicksand', sans-serif;

}

.description {
  font-family: "Inter", sans-serif;
}

#begin-button {

    font-family: 'Quicksand', sans-serif;
    background-color: yellowgreen;

}

.navbar-item {
  font-family: "Quicksand", sans-serif;
}

.saved {
  font-family: "Quicksand", sans-serif;
}

#search-buttons {
  font-family: "Quicksand", sans-serif;
}

.homepage-image {
  max-width: 100%;
  height: auto;
}

#video-link {
  width: 500px;
  height: 300px;
}

#begin-button:hover {
  background-color: rgb(255, 115, 0);
}

.navbar {
  background-color: yellowgreen;
}

.search{
    font-family: 'Quicksand', sans-serif;
    top : 15px;
    right: 10px;
}

#links{
  align-items: center;

}

#saved-button{
    
}
#home-button{
    right: 60px;
    font-family: 'Quicksand', sans-serif;
}

#begin-button2{
   
}

#begin-button3{
   
}

#save-button{
    background-color:  rgb(51, 122, 152);;;
    font-family: 'Quicksand', sans-serif;
}

#continue-quest{
    background-color:rgb(255, 115, 0);
    font-family: 'Quicksand', sans-serif;
}

#start-over{
    background-color:yellowgreen;
    font-family: 'Quicksand', sans-serif;
}

#artist-name{
    font-size: 46px;
}

/* .drummer {
  background-image: url(/sound-quest/assets/640-festive-background-with-guitar-and-musical-notes-illustration-ai-generative.jpg);
  background-size: 400pc;
} */

#clear-button{
    background-color: rgb(255, 115, 0);
}