#random-button{
    background-color: rgb(150, 75, 221);
    font-family: 'Inter', sans-serif;
}

#artist-button{
    background-color: rgb(110, 110, 248);
    font-family: 'Inter', sans-serif;
}

#song-button{
    background-color:rgb(5, 255, 172);
    font-family: 'Inter', sans-serif;
}


.description {
    font-family: 'Inter', sans-serif;
}

#begin-button {
    font-family: 'Quicksand', sans-serif;
}

.navbar-item {
    font-family: 'Quicksand', sans-serif;
} 

.saved {
    font-family: 'Quicksand', sans-serif;
}

#home-button {
    font-family: 'Quicksand', sans-serif;
}

#search-buttons {
    font-family: 'inter', sans-serif;
}

.homepage-image {
    max-width: 100%;
    height: auto;
}

.navbar {
    background-color: aquamarine;

}

#video-link {
    width: 500px;
    height: 300px;
}

#begin-button {
    background-color: aquamarine;
}

.search{
    font-family: 'Quicksand', sans-serif;
}